#bar-chart-vertical{
z-index: -1;
}
i.fa.fa-bolt.yellow{
color: #ECB731;
}

i.fa.fa-plug.grey{
color: #73879C;
}

.table#slot-table{
width: 89%;
margin-left: 11%;
border:none;
z-index: 2;
}

td{
text-align: center;
overflow: hidden;
}

td.tiny{
font-size: 12px;
padding-bottom: 0%;
font-style: italic;
width: 100%;
}

td.above{
font-size: 12px;
padding-bottom: 0%;
width: 100%;
}

table.fixed
{
    table-layout:fixed;
}

td.column-fixed
{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 47px;
}